@use "sass:list";
@use "sass:map";
@use "sass:string";
@use "functions";

@mixin font-size($size) {
	font-size: $size; //Fallback in px
	font-size: functions.calculate-rem($size);
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin aspect-ratio($width, $height) {
	position: relative;
	width: 100%;
	&:after {
		content: "";
		display: block;
		padding-bottom: ($height / $width) * 100%;
	}
}
@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (eot: "?", svg: ("#" + functions.str-replace($name, " ", "_")));

	$formats: (otf: "opentype", ttf: "truetype");

	@each $ext in $exts {
		$extmod: if(map.has-key($extmods, $ext), $ext + map.get($extmods, $ext), $ext);
		$format: if(map.has-key($formats, $ext), map.get($formats, $ext), $ext);
		$src: list.append($src, url(string.quote($path + "." + $extmod)) format(string.quote($format)), comma);
	}
		
	@font-face {
		font-family: string.quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

@mixin centered-letter-spaced-text($letter-spacing) {
	letter-spacing: $letter-spacing;
	padding-left: $letter-spacing;
}
	
