@use "functions";
@use "variables";

%spacer {
	margin: functions.calculate-rem(72px) 0;
	@media (max-width: variables.$small) {
		margin: functions.calculate-rem(48px) 0;
	}
}

%spacer-large {
	margin: functions.calculate-rem(136px) auto;
	@media (max-width: variables.$small) {
		margin: functions.calculate-rem(64px) auto;
	}
}

