<nav class="{{ include.nav-classes }}">
  {% assign pages = site.menu %} {% for page in pages %}
  <div class="primary-nav__separator {{ include.separator-classes }}">
    {% if page.children %}
    <div class="primary-nav__link-container {{ include.container-classes }}">
      <a
        class="{{ include.link-classes }} {{ include.link-has-sub-nav-classes }}"
        href="{{ page.url }}"
        >{{ page.title }}</a
      >
      {% include down-arrow.svg classes="primary-nav__dropdown-arrow" %}

      <nav class="sub-nav {{ include.sub-nav-classes }}">
        {% for subpage in page.children %}
        <a class="primary-nav__link sub-nav__link" href="{{ subpage.url }}"
          >{{ subpage.title }}</a
        >
        {% endfor %}
      </nav>
    </div>
    {% else %}
    <a class="{{ include.link-classes }}" href="{{ page.url }}"
      >{{ page.title }}</a
    >
    {% endif %}
  </div>
  {% endfor %}
</nav>
