@use "abstracts/functions";
@use "abstracts/variables";

.cols--2-1 {
  columns: 2;
  column-gap: 44px;
  @media (max-width: variables.$large) {
    columns: 1;
  }
}

.cols__cell {
  display: inline-block;
  margin: 0 0 functions.calculate-rem(44px);
  @media (max-width: variables.$large) {
    margin: 0;
  }
}
