.grid {
  display: grid;
}

.grid--3-2 {
  grid-template-columns: 3fr 2fr;
  grid-gap: calculate-rem(44px);
  @media (max-width: $x-large) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: $large) {
    grid-template-columns: repeat(1, 1fr);
  }
  @media (max-width: $small) {
    grid-gap: calculate-rem(24px);
  }
}

.grid--3-1 {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: calculate-rem(44px);
  @media (max-width: $x-large) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: $large) {
    grid-template-columns: repeat(1, 1fr);
  }
  @media (max-width: $small) {
    grid-gap: calculate-rem(24px);
  }
}

.grid--2-1 {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: calculate-rem(44px);
  @media (max-width: $large) {
    grid-template-columns: repeat(1, 1fr);
  }
  @media (max-width: $small) {
    grid-gap: calculate-rem(24px);
  }
}

.grid--contact-form {
  display: grid;
  $grid-template-columns: 'repeat(2, [col-start] 1fr)';
  grid-template-columns: #{$grid-template-columns};
  grid-gap: calculate-rem(64px) calculate-rem(36px);
  @extend %spacer;
  @media (max-width: $small) {
    grid-gap: calculate-rem(24px);
    .contact-form-grid__item {
      grid-column: col-start / span 2;
    }
  }
  .grid__full {
    grid-column: col-start / span 2;
  }
}
