@use "abstracts/functions";
@use "abstracts/variables";

.primary-footer {
	width: 90%;
	max-width: functions.calculate-rem(936px);
	margin: functions.calculate-rem(96px) auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media (max-width: variables.$x-large) {
		display: grid;
		grid-row-gap: functions.calculate-rem(36px);
		justify-content: center;
		margin:  0 auto functions.calculate-rem(32px) auto;
	}
	@media (max-width: variables.$small) {
		
	}
}