.sub-nav {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	text-align: left;
	white-space: nowrap;
	background-color: $white;
	padding: 0 calculate-rem(16px) calculate-rem(8px) calculate-rem(16px);
	display: none;
	z-index: 2;
}

.sub-nav--indent {
	transform: translateX(0);
	left: 0;
}

.sub-nav__link {
	display: block;
	margin: calculate-rem(16px) 0;
	color: $mid-gray;
}