.box {
	margin: 0 0 calculate-rem(44px);
	@media (max-width: $large) {
		margin: 0;
	}
}

.box__title {
	@include font-size(36px);
	margin: 0 0 calculate-rem(8px);
	text-decoration: underline;
	@media (max-width: $x-small) {
		@include font-size(28px);
	}
}

.box__list {
	padding-left: calculate-rem(24px);
}