.btn {
	color: $main-theme-color;
	border: 5px solid $main-theme-color;
	@include font-size(32px);
	font-family: 'Playfair Display', serif;
	font-style: italic;
	text-align: center;
	display: block;
	padding: 1.5em 1.0625em;
	max-width: calculate-rem(176px);
	cursor: pointer;
	margin: 0 auto;
}