.hamburger-menu {
  cursor: pointer;
  float: right;
  display: none;
  position: relative;
  z-index: 2;
  @include square(40px);
  @media (max-width: $medium) {
    display: block;
  }
  @media (max-width: $small) {
    @include square(35px);
  }
} 

.hamburger-menu__line {
  position: relative;
  top: 50%;
  margin-top: -5px;
}

.hamburger-menu__line:after {
  top: 12px;
}

.hamburger-menu__line:before {
  top: -12px;
}
  
.hamburger-menu__line:after, .hamburger-menu__line:before {
  content: '';
  position: absolute;
  transition: all 0.2s;
}
  

.hamburger-menu__line, .hamburger-menu__line:after, .hamburger-menu__line:before {
  width: 100%;
  height: 5px;
  display: block;
  background-color: $white;
}
  
.hamburger-menu--is-active {
  @media (max-width: $medium) {
    + .primary-nav {
      display: block;
      text-align: left;
    }
  }
  .hamburger-menu__line {
    background-color: rgba(0,0,0,0);
    &:before {
      top: 0;
      transform: rotate(45deg);
    }
      
    &:after {
      top: 0;
      transform: rotate(-45deg);
    }
  }
}
  
    
      
      

  
