@use "abstracts/mixins";
@use "abstracts/variables";

.hamburger-menu {
  cursor: pointer;
  float: right;
  display: none;
  position: relative;
  z-index: 2;
  @include mixins.square(40px);
  @media (max-width: variables.$medium) {
    display: block;
  }
  @media (max-width: variables.$small) {
    @include mixins.square(35px);
  }
}

.hamburger-menu__line {
  position: relative;
  top: 50%;
  margin-top: -5px;
}

.hamburger-menu__line:after {
  top: 12px;
}

.hamburger-menu__line:before {
  top: -12px;
}

.hamburger-menu__line:after,
.hamburger-menu__line:before {
  content: '';
  position: absolute;
  transition: all 0.2s;
}

.hamburger-menu__line,
.hamburger-menu__line:after,
.hamburger-menu__line:before {
  width: 100%;
  height: 5px;
  display: block;
  background-color: variables.$white;
}

.hamburger-menu--is-active {
  @media (max-width: variables.$medium) {
    + .primary-nav {
      display: block;
      text-align: left;
    }
  }
  .hamburger-menu__line {
    background-color: rgba(0, 0, 0, 0);
    &:before {
      top: 0;
      transform: rotate(45deg);
    }

    &:after {
      top: 0;
      transform: rotate(-45deg);
    }
  }
}
