@use "abstracts/functions";
@use "abstracts/variables";

.modal {
	background-color: rgba(variables.$black, 0.3);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
}

.modal__inner {
	background-color: variables.$white;
	padding: functions.calculate-rem(40px);
	position: relative;
	max-width: functions.calculate-rem(600px);
	width: 85%;
	overflow: auto;
	max-height: 100%;
}

.modal__close {
	cursor: pointer;
  position: absolute;
  top: 8px;
  right: 15px;
  //@include font-size(14px);
}
  
