.post ul {
	padding-left: calculate-rem(24px);
}

.post li p {
	display: inline;
}

.post img {
	$margin: 16px;
	margin: calculate-rem($margin / 2) calculate-rem($margin) calculate-rem($margin / 2) 0;
	max-width: 100%;
	@media (max-width: $small) {
		display: block;
		margin: 0 0 calculate-rem($margin) 0;
	}
}