@use "abstracts/functions";
@use "abstracts/variables";

@use 'sass:math';

.post ul {
  padding-left: functions.calculate-rem(24px);
}

.post li p {
  display: inline;
}

.post img {
  $margin: 16px;
  margin: functions.calculate-rem(math.div($margin, 2)) functions.calculate-rem($margin)
    functions.calculate-rem(math.div($margin, 2)) 0;
  max-width: 100%;
  @media (max-width: variables.$small) {
    display: block;
    margin: 0 0 functions.calculate-rem($margin) 0;
  }
}
