@use "abstracts/mixins";
@use "abstracts/variables";

.timeline {
  list-style-type: none;
  padding: 0;
  position: relative;
  &:after {
    content: '';
    width: 0;
    height: 105%;
    position: absolute;
    border: 1px solid rgba(variables.$black, 0.15);
    top: 0;
    left: 50%;
    margin-left: -1px;
    z-index: -1;
  }
}

.timeline__text {
  margin: 0;
}

.timeline__date {
  font-style: italic;
}

.timeline__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 25px;
  margin: 16px 0;
  position: relative;
  > *:first-child {
    text-align: right;
  }
  > *:nth-child(2n) {
    text-align: left;
  }
  &:before {
    content: none;
  }
  &:after {
    content: '';
    @include mixins.square(9px);
    border-radius: 100%;
    background-color: variables.$main-theme-color;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}