---
layout: default
---

<section class="primary-section">
	<div class="wrapper">
		<div class="cols cols--2-1">
			{% for text-box in page.text-boxes %}
				<div class="box cols__cell">
					<h2 class="box__title">{{ text-box.title }}</h2>
					<p>{{ text-box.body-copy }}</p>
				</div>
			{% endfor %}
			<div class="box cols__cell">
				<h2 class="box__title">Qualifications</h2>
				<ul class="timeline">
					{% for qualification in page.qualifications %}
						{% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
						<li class="timeline__row">
							{% if thecycle == 'odd' %}
								<p class="timeline__text">{{ qualification.title }}</p>
								<span class="timeline__date">{{ qualification.year }}</span>
							{% else %}
								<span class="timeline__date">{{ qualification.year }}</span>
								<p class="timeline__text">{{ qualification.title }}</p>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="text-center spacer"><img src="{{ page.portfolio-image.image }}" alt="{{ page.portfolio-image.alt }}"></div>
	</div>
</section>
