<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.page-title }}</title>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="{{ page.meta-desc }}">
        
        <link rel="stylesheet" href="/main.css">
        <link rel="shortcut icon" href="/images/favicon.png" type="image/png" sizes="16x16">
    </head>
    <body>
      {{ page.type }}
      <header class="primary-header" style="background-image: url('{{ page.banner-image }}'); background-position: {{ page.banner-image-position }};">
        <h1 class="logo"><a href="/">{{ site.title }}</a></h1>
        <div class="hamburger-menu">
          <span class="hamburger-menu__line"></span>
        </div>
        {% include nav.html nav-classes="primary-nav primary-nav--horizontal" link-classes="primary-nav__link primary-nav__link--horizontal" link-has-sub-nav-classes="primary-nav__link--has-sub-nav" separator-classes="primary-nav__separator--horizontal" container-classes="primary-nav__link-container--stacked"%}
      </header>
      
      {{ content }}
      
      <footer class="primary-footer">
      {% include nav.html nav-classes="primary-nav primary-nav--stacked" link-classes="primary-nav__link" link-has-sub-nav-classes="primary-nav__link--has-sub-nav" separator-classes="primary-nav__separator--stacked" container-classes="primary-nav__link-container--horizontal" sub-nav-classes="sub-nav--indent"%}
      <div class="flex-col">
        <a href="tel:{{ site.contact.tel }}" class="contact-detail">{{ site.contact.tel }}</a>
        <a href="tel:{{ site.contact.email }}" class="contact-detail">{{ site.contact.email }}</a>
        <div>
          <a class="social-icon" href="https://www.facebook.com/charlottehastingstudio/" target="_blank" rel="noopener">{% include social-icons/facebook.svg %}</a>
          <a class="social-icon" href="https://www.instagram.com/therapy.kitchen/" target="_blank" rel="noopener">{% include social-icons/instagram.svg %}</a> 
        </div>
      </div>
      <div class="self-center">
        <img src="/images/BACP-Logo.png">
      </div>
      </footer>
      
      <script src="/main.js"></script>
    </body>
</html>
