---
layout: default
---

<section class="primary-section">
  <p class="text-wrapper">{{ page.intro }}</p>
</section>
<section class="primary-section">
  <div class="wrapper">
    {% include 3-cards.html cards=page.services read-more=true %}
  </div>
</section>
<section class="primary-section">
  <div class="wrapper grid grid--2-1">
    <div class="book">
      <h2 class="title">{{ page.book.title }}</h2>
      <p class="book__text">{{ page.book.text }}</p>
      <p class="book__quote">{{ page.book.quote }}</p>
      <a
        class="book__link"
        href="{{ page.book.link.href }}"
        target="_blank"
        rel="noopener noreferrer"
        >{{ page.book.link.text }}</a
      >
    </div>
    <img src="{{ page.book.image }}" alt="" />
  </div>
</section>
