---
layout: default
---

<section class="primary-section">
	<p class="text-wrapper">{{ page.what-is-it.desc }}</p>
</section>

<section class="primary-section">
	<div class="wrapper">
		<div class="grid grid--3-1">
			{% for aspect in page.what-is-it.aspects %}
				<div class="card card--bg-image" style="background-image: url('{{ aspect.bg-image }}');">
					<div class="card__content">
						<div class="card__top">
							<h2 class="card__title">{{ aspect.title }}</h2>
							<p class="card__text">{{ aspect.desc }}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>

<section class="primary-section">
	<h2 class="title text-center">{{ page.what-to-expect.title }}</h2>
	
	<ul class="text-wrapper">
	{% for item in page.what-to-expect.list %}
		<li>{{ item }}</li>
	{% endfor %}
	</ul>
</section>

<section class="primary-section">
	<div class="slider js-slider-triples">
		{% for image-obj in page.slider-images %}
			<img class="slider__image" src="{{ image-obj.image }}" alt="{{ image-obj.alt }}">
		{% endfor %}
	</div>
</section>

<section class="primary-section">
	<h2 class="title text-center">{{ page.who-is-it-for.title }}</h2>
	<p class="text-wrapper">{{ page.who-is-it-for.desc }}</p>
	<div class="wrapper">
		<div class="cols cols--2-1">
			{% for example in page.who-is-it-for.examples %}
				<div class="box cols__cell">
					<h2 class="box__title">{{ example.title }}</h2>
					<p>{{ example.desc }}</p>
					<ul class="box__list">
					{% for item in example.list %}
						<li>{{ item }}</li>
					{% endfor %}
					</ul>
				</div>
			{% endfor %}
		</div>
	</div>
</section>

<section class="primary-section">
	<div class="wrapper">
		<h2 class="title text-center">Testimonials</h2>
		<div class="cols cols--2-1">
			{% for testimonial in page.testimonials %}
				<div class="testimonial cols__cell">
					<p class="testimonial__quote">"{{ testimonial.quote-preview }}"</p>
					<span class="testimonial__author">{{ testimonial.author }}</span>
					<span class="testimonial__more js-testimonial-more" data-full-quote="{{ testimonial.quote }}">Full quote</span>
				</div>
			{% endfor %}
		</div>
	</div>
</section>