---
layout: default
---

<section class="primary-section">
  <div class="text-wrapper">
    <p>{{ page.text | markdownify }}</p>
  </div>
  <div class="wrapper grid grid-cols-1 sm:grid-cols-3 gap-4">
    {% for image in page.images %}
    <div class="h-80">
      <img
        src="{{ image.image }}"
        class="w-full h-full object-cover"
      />
    </div>
    {% endfor %}
    </div>
  </div>
</section>

<section class="primary-section">
  <div class="wrapper">
    <h2 class="title text-center">Testimonials</h2>
    <div class="">
      {% for testimonial in page.testimonials %}
      <div class="testimonial mb-8">
        <p class="testimonial__quote">"{{ testimonial.quote }}"</p>
        <span class="testimonial__author">- {{ testimonial.author }}</span>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
