---
layout: default
---

<section class="primary-section">
	<div class="wrapper text-center">
		<iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/822653914&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
		<p class="text-wrapper">{{ page.intro }}</p>
		<ul class="text-wrapper">
		{% for podcast in page.podcasts %}
			<li>{{ podcast.name }}<br /><a class="long-link" href="{{ podcast.link }}" target="_blank" rel="noopener">{{ podcast.link }}</a></li>
		{% endfor %}
		</ul>
	</div>
	
</section>
