*, *::before, *::after {
	box-sizing: border-box;
}	
	
body {
	color: $mid-gray;
	font-family: Georgia, serif;
	margin: 0;
}
  
h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display', serif;
	color: $main-theme-color;
}
	
p {
	line-height: 1.5em;
	@include font-size(16px)
	@media (max-width: $small) {
		@include font-size(15px);
	}
}
	
ul {
	margin: 0;
  padding: 0;
	list-style-type: none;
}

li {
	margin: calculate-rem(29px) 0;
	&:before {
		content: '-';
	}
	a {
		word-break: break-all;
		@media (max-width: $small) {
			@include font-size(14px)
		}
		@media (max-width: $x-small) {
			@include font-size(13px)
		}
	}
	p {
		display: inline;
	}
}

a {
	color: rgba(#877EFF, 0.8);
}

svg {
	path {
		fill: $main-theme-color;
		transition: fill .2s;
	}
	&:hover {
		path {
			fill: darken($main-theme-color, 10%);
		}
	}
}