*, *::before, *::after {
	box-sizing: border-box;
}	
	
body {
	color: $mid-gray;
	font-family: Georgia, serif;
	margin: 0;
}
  
h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display', serif;
	color: $main-theme-color;
}
	
p {
	line-height: 1.5em;
	@include font-size(16px)
	@media (max-width: $small) {
		@include font-size(15px);
	}
}
	
ul {
	margin: 0;
  padding: 0;
	list-style-type: none;
	li:before {
		content: '-';
	}
}

li {
	margin: calculate-rem(29px) 0;
}

a {
	color: $link-color;
}

path {
	fill: $main-theme-color;
}

table {
	width: 100%;
	max-width: calculate-rem(450px);
}

th {
	text-align: left;
	padding: calculate-rem(16px) 0 calculate-rem(8px) calculate-rem(8px);
	background-color: $main-theme-color;
	color: $white;
	@include font-size(24px);
	font-family: 'Playfair display', serif;
}

td {
	padding: calculate-rem(16px) 0 calculate-rem(16px) calculate-rem(16px);
	background-color: rgba($black, 0.03);
	@include font-size(18px);
}