.wrapper {
  width: 90%;
  max-width: calculate-rem(1200px);
  margin: 0 auto;
  position: relative;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.spacer {
  margin: calculate-rem(16px) 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}