.logo {
	@include font-size(64px);
	margin: 0.67em 0;
	@media (max-width: $x-small) {
		@include font-size(54px);
	}
	a {
		color: $main-theme-color;
		text-decoration: none;
	}
}

.text-wrapper {
	width: 90%;
	max-width: calculate-rem(860px);
	margin: calculate-rem(24px) auto;
	@include font-size(18px);
	line-height: 1.612em;
	@media (max-width: $small) {
		@include font-size(16px)
	}
}

.contact-detail {
	font-style: italic;
	@include font-size(22px);
	color: $mid-gray;
	text-decoration: underline;
	@media (max-width: $medium) {
		font-size: calc(12px + 2vw);
	}
}

.title {
	@include font-size(48px);
	margin: 0 0 calculate-rem(24px);
	@media (max-width: $small) {
		@include font-size(40px);
	}
}

.link {
	text-decoration: underline;
	color: $link-color;
	cursor: pointer;
}

.long-link {
	word-break: break-all;
	@media (max-width: $small) {
		@include font-size(14px)
	}
	@media (max-width: $x-small) {
		@include font-size(13px)
	}
}